@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --ff-primary: Inter, sans-serif;
  --clr-primary: #e94560;
  --clr-dark: #1a1a2e;
  --clr-dark-lighter: #16213e;
  --clr-blue: #0f3460;
  --clr-light: #f3f7f8;
  --clr-grey: #444444;
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-primary);
}

/* Remove list styles */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul {
  padding-inline-start: 0;
}

/* Set core body defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--clr-dark);
  font-family: var(--ff-primary);
}

/* A elements that do not have a class */
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

a:-webkit-any-link {
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
