.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  /* margin: 4rem 2rem; */
  background: rgb(22, 33, 62);
  background: linear-gradient(
    180deg,
    rgba(22, 33, 62, 1) 21%,
    rgba(26, 26, 46, 1) 71%
  );
}

.hero > h1 {
  color: var(--clr-primary);
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: 1.2px;
  max-width: 550px;
  text-align: center;
  margin-top: 7rem;
}

.window-container {
  margin-top: 14rem;
  padding: 3rem;
}

.why {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 5rem;
}

.text {
  margin-left: 2rem;
}

.text h2 {
  color: var(--clr-primary);
  font-weight: 500;
  font-size: 3rem;
}

.text > p {
  padding: 3rem 0;
}

.text p {
  color: var(--clr-light);
  font-size: 1.4rem;
  letter-spacing: 1.4px;
  line-height: 2rem;
  max-width: 500px;
}

.image-block {
  max-width: 500px;
  margin-right: 2rem;
}

.grid-container {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  align-items: center;
}

.grid-container img {
  max-width: 350px;
  height: 400px;
  margin: 0 22px;
}

.get-started {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(10, 10, 17);
  background: linear-gradient(
    0deg,
    rgba(10, 10, 17, 0.97) 21%,
    rgba(26, 26, 46, 1) 71%
  );
  height: 800px;
}

.get-started h2 {
  color: var(--clr-primary);
  text-align: center;
  font-size: 3rem;
  margin-bottom: 8rem;
}

.get-started h3 {
  color: var(--clr-light);
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 5rem;
}

.get-started a:-webkit-any-link {
  color: var(--clr-light);
}

.get-started > a {
  background-color: var(--clr-primary);
  margin: 1rem 2rem;
  width: 8rem;
  height: 3rem;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  padding-top: 10px;
  color: var(--clr-light);
}

@media (max-width: 1200px) {
  .grid-container img {
    max-width: 240px;
    height: 273px;
  }
}

@media (max-width: 850px) {
  .grid-container img {
    max-width: 200px;
    height: 250px;
  }
}

@media (max-width: 730px) {
  .hero {
    grid-template-columns: repeat(1, 1fr);
  }

  .hero h1 {
    margin: auto;
    margin-top: 4rem;
  }

  .window-container {
    margin: auto;
  }

  .why {
    grid-template-columns: repeat(1, 1fr);
  }

  .text {
    margin: auto;
    padding-left: 1rem;
  }

  .image-block {
    margin: 1rem;
    display: none;
  }

  .grid-container {
    flex-direction: column;
  }

  .grid-container img {
    margin: 2rem 0;
  }
}
